# --- FastAPI ---
fastapi==0.95.2
uvicorn[standard]==0.23.1
python-multipart==0.0.6
requests==2.31.0

# --- 音声処理 ---
pydub==0.25.1
ffmpeg-python==0.2.0

# --- PyTorch（CPU版） ---
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.0.1+cpu
torchaudio==2.0.2+cpu

# --- Demucs（Github 正式版） ---
git+https://github.com/facebookresearch/demucs#egg=demucs[demucs]

# --- Basic Pitch ---
numpy<2.0
basic-pitch==0.2.0

# --- Tayuya ---
tayuya==0.0.4
